services:
  app:
    build: .
    container_name: goboilerplate
    ports:
      - "8080:8080"
    depends_on:
      valkey:
        condition: service_healthy
      pgdb:
        condition: service_healthy
    environment:
      APP_ENV: development-docker
      POSTGRES_PASSWORD: ${PG_DB_PASSWORD}
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8080/ready"]
      interval: 1s
      timeout: 5s
      retries: 3
      start_period: 10s
    networks:
      - app-network

  pgdb:
    image: postgres:18
    container_name: goboilerplate-postgres
    environment:
      POSTGRES_USER: ${PG_DB_USER}
      POSTGRES_PASSWORD: ${PG_DB_PASSWORD}
      POSTGRES_DB: ${PG_DB_NAME}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/18
      - ./migrations/1-init.sql:/docker-entrypoint-initdb.d/1-init.sql
    healthcheck:
      test: "pg_isready -d ${PG_DB_NAME} -U ${PG_DB_USER}"
      interval: 1s
      timeout: 5s
      retries: 5
    networks:
      - app-network

  valkey:
    image: valkey/valkey:9.0.0
    container_name: goboilerplate-valkey
    ports:
      - "6379:6379"
    command: valkey-server
    volumes:
      - valkey-data:/data
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 1s
      timeout: 5s
      retries: 5
    networks:
      - app-network

volumes:
  postgres_data:
  valkey-data:

networks:
  app-network:
    driver: bridge
